<h1 class="jumbotron"><%= @product.name %></h1>
<h3> Cost: $<%= (@product.price).round(3)%></h2>

  <% if @product.comments.any? %>
    <h4>Here are the comments for this product:</h4>

    <ul>
      <% @product.comments.each do |comment| %>
        <li>
          <ul>
            <li><p><%= comment.content_body %></p></li>
            <li><p>Rating: <%= comment.rating %> stars</p></li>
            <li><p>By: <%= comment.author %></p> </li>
            <%= link_to "Edit", edit_product_comment_path(@product, comment) %> |
            <%= link_to "Delete", product_comment_path(@product, comment),
                                    :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no comments yet!</p>
  <% end %>

<p><%= link_to "Add a Comment", new_product_comment_path(@product) %></p>
<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete Service", product_path(@product),
                          :data => {:confirm => "Are You Sure?",
                                    :method => "delete"}%></p>

<p><%= link_to "Home", products_path %></p>
