<!DOCTYPE html>
<html>
  <head>
    <title>Buon Appetizers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <li>
        <% if current_user  %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        <% else %>
          <%= link_to "Log In", new_user_session_path%>
          </li><li>
          <%= link_to "Sign up", new_user_registration_path%>
        <%end %>
      </li>
      <li><a href="/">Home</a></li>
      <%= yield(:navbar) %>
    </p>
    <%= yield %>
  </body>
</html>
